/* ================================
   🌍 Global Colors
   ================================ */
:root {
  --color-primary: #e81b20;   /* gold tone */
  --color-secondary: #9fa0a2; /* red hover */
  --color-text: black;        /* base text color */
  --color-black: black;        /* base text color */
  --color-white: white;
  --color-bg-nav:#545454;
  --color-bg-all:#f5f3f5;
  --color-grey:#cecece;
  --color-hover-btn:#b0b0b0;
}
h1{font-size:30px;}
h2{font-size:25px;}
h3{font-size:20px;}
body{
background: var(--color-bg-all) !important;
}
/* ================================
   🧩 Global Styles
   ================================ */
.center{text-align:center;}
.bg-dark {
    background-color: var(--color-bg-nav) !important;
}
.btn {
    border-radius: 50px;
}
.container-fluid.pt-5.mt-5 {
    /*background: var(--color-bg-all) !important;*/
    padding-bottom: 3rem !important;
}
a {
  color: var(--color-text);
  /*font-weight: bolder;*/
  text-decoration: none;
}
a:hover {
  color: var(--color-secondary);
}
.btn-primary {
  background-color: var(--color-primary) !important;
  border: none;
  color: var(--color-white);
}
.btn-primary:hover{
  background-color: var(--color-black) !important;
  color: var(--color-white);
}
.btn-link {
    border: 2px solid var(--color-primary) !important;
    color: var(--color-primary) !important;
    background: transparent !important;
    text-decoration: none !important;
}
.btn-link:hover{  border-color: var(--color-text) !important; color: var(--color-text) !important;}
.active > .page-link, .page-link.active {
    z-index: 3;
    color: var(--color-text) !important;
    background-color: transparent !important;
    border: 2px solid var(--color-primary);
    border-radius: 150px;
}

.li-under {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
}

.truc_de_dev {
  display: none;
}

.list-wrapper {
  position: relative;
  max-height: calc(6 * 2.5rem); /* ~6 lines */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.list-wrapper.expanded {
  max-height: none;
}

.fade-out {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.list-wrapper.expanded .fade-out {
  opacity: 0;
}

.abs-left {
  position: absolute;
  left: 10px;
}

.abs-right {
  position: absolute;
  right: 10px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
/*********** board ***********/
.row.dis-grid-3 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.card-header {
    font-size: 21px;
    font-family: "Roboto";
    font-weight: 600;
}
.col-card{
    /* border: 1px solid #000; */
    border-radius: 17px;
    padding: 20px;
    background-color: var(--color-white);}
.col-card .accordion-item {
    border-top: 0px;
    border-bottom: 1px solid #dee2e6 !important;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}
.col-card .accordion-button:not(.collapsed) {
    color: var(--color-text)!important;
    background-color: var(--color-white)!important;
    box-shadow:none !important;
}
.col-card .accordion-button:focus{box-shadow:none !important;}
.accordion-body.text-start {
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-bottom: 10px;
}
/************************ adherent **************************/
.container {justify-content: center;margin: auto;}
input.form-control.me-2 {
    background: var(--color-bg-all);
    border-radius: 50px;
}
.table-adh th{background-color:transparent !important;padding:10px;border-width: 0px !important;}
.table-adh tr {
    height: 50px;
    border-top: 0px !important;
}
.table-adh .btn-link{padding: 2px 7px; font-size: 14px;margin-block: 4px;}
.form-control:focus, .page-ajout-adh .form-select:focus {
    border-color: #e81b2061;
    box-shadow: 0 0 0 .25rem rgb(232 27 32 / 14%);
}
.table-adh td{border-width: 0px !important;padding: 10px;}
.table-adh tr:hover {
    background-color: #ffffff9e;
}
.page-adh a.page-link {
    border-radius: 0px !important;
    border: 0px !important;
    border: 0px !important;
    padding: 0px 6px;
    margin-inline: 10px;
    background: transparent;
    color: var(--color-text);
}
.page-adh .active a.page-link, .page-adh a.page-link:hover { border-bottom: 4px solid var(--color-primary) !important;}
.telechrg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 40px;
    width: fit-content;}
.btn-rech{background-color: var(--color-grey) !important; color: var(--color-text);}
.btn-rech:hover { background-color:var(--color-hover-btn) !important;}
.col-12{display: flex; flex-direction: column;gap: 20px;}
.flx-ttl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
/*********************************************************************/
.row-checkbox:checked, .form-check-input[type=checkbox]:checked {
  accent-color: var(--color-primary);
  background-color: var(--color-primary);
}
.form-check-all {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0px 20px;
    padding-left: 0px;
    /*margin-top:20px;*/
}
.page-ajout-adh input, .page-ajout-adh .form-select { margin-bottom: 15px;}
.pagination .page-link:focus{box-shadow:none !important;}
input.form-control, input, .form-select, .form-control {border-radius: 50px;}
.grid-col{
    display: grid;
    justify-items: end;
    gap: 15px;
    grid-template-columns: 1fr 1fr;}
    button.navbar-toggler {
    background-color: #ffffff;
    border-radius: 50px !important;
    width: 40px;
    height: 40px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
span.navbar-toggler-icon {filter: invert(1);}
/**************************** responsive *******************************/
@media only screen and (max-width:800px){
.form-check-all {column-count: 2;}

}

@media only screen and (max-width:497px){
.row.dis-grid-3 { gap: 6px; grid-template-columns: repeat(1, 1fr);margin-inline: 22px;}
.row.dis-grid-3 .col-12 {padding: 15px;}
.form-check-all {column-count: 1;}
.col-6, .col-2 {width: 100%;}
.col-12 {padding: 0px;}
.grid-col {grid-template-columns: 1fr;}
.container-fluid.pt-5.mt-5 { padding: 0rem !important;margin-block: 6em !important;overflow: hidden;}
.table-adh th, .table-adh td{font-size: 11px !important;padding: 5px !important;}
.flx-ttl { text-align: center; display: block;}
.flx-ttl h1 {font-size: 27px;}
.align-items-center {gap: 12px;}
.form input#submit {text-align: center; width: 100%;}
.table-adh.adher th:nth-child(5), .table-adh.adher td:nth-child(5) {display: none !important;}
.table-adh .btn-link { padding: 2px 4px; font-size: 8px; margin-block: 2px;}



}


@media only screen and (max-width:375px){
.table-adh.qr-code th:nth-child(5),
.table-adh.qr-code td:nth-child(5),
.table-adh.qr-code th:nth-child(6),
.table-adh.qr-code td:nth-child(6),
.table-adh.adher th:nth-child(3), .table-adh.adher td:nth-child(3), .table-adh.adher th:nth-child(5), .table-adh.adher td:nth-child(5) {
    display: none !important;
}
.table-scroll-x {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    white-space: nowrap;
}




}