{% extends "base.html" %}

{% block title %}Ajouter un adhérent{% endblock %}

{% block content %}
<div class="row container page-ajout-adh">
  <div class="col-2"></div>
  <div class="col-12">
    <h1 class="center">Ajouter un adhérent</h1>
    {% from 'bootstrap5/form.html' import render_form %}

    <form method="POST">
      {{ form.hidden_tag() }}
        {% for fieldName, errorMessages in form.errors.items() %}
            {% for err in errorMessages %}
                <div class="alert alert-danger">
                    {{ fieldName }} : {{ err }}
                </div>
            {% endfor %}
        {% endfor %}

      <!-- Nom + Prénom -->
      <div class="row">
        <div class="col-md-6">
          {{ form.nom(class="form-control", placeholder="Nom") }}
        </div>
        <div class="col-md-6">
          {{ form.prenom(class="form-control", placeholder="Prénom") }}
        </div>
      </div>

      <!-- Email + Téléphone -->
      <div class="row">
        <div class="col-md-6">
          {{ form.email(class="form-control", placeholder="Email") }}
        </div>
        <div class="col-md-6">
          {{ form.telephone(class="form-control", placeholder="Téléphone") }}
        </div>
      </div>

      <!-- Date d'inscription + Dojo -->
      <div class="row">
        <div class="col-md-6">
          {{ form.date_inscription(class="form-control", type="date", placeholder="Date d'inscription") }}
        </div>
        <div class="col-md-6">
          {{ form.dojoId(class="form-select ajouter-add-dojo") }}
        </div>
      </div>

      <!-- Catégorie d’âge -->
      <div class="mb-3">
  <select name="{{ form.categorie_age.name }}" class="form-select" required>
    <option value="" disabled selected>Catégorie d'âge</option>
    {% for value, label in form.categorie_age.choices %}
      <option value="{{ value }}">{{ label }}</option>
    {% endfor %}
  </select>
</div>

      <!-- Cours -->
      <div class="">
         <label class="form-label d-block">Cours</label>
        <div class="form-check-all">
          {% for value, label in form.coursId.choices %}
            {% set class_name = dojo_classes[loop.index0][1] %}
          <div class="form-check {{class_name}}" >
            <input class="form-check-input" type="checkbox"
                   name="{{ form.coursId.name }}"
                   id="cours_{{ value }}"
                   value="{{ value }}">
            <label class="form-check-label" for="cours_{{ value }}">{{ label }}</label>
          </div>
          {% endfor %}
        </div>
      </div>

      <!-- Submit -->
      <button type="submit" class="btn btn-primary" style="float: right;">{{ form.submit.label.text }}</button>
    </form>
  </div>
  <div class="col-2"></div>
</div>
{% endblock %}
