{% extends "base.html" %}

{% block title %}Ajouter un dojo{% endblock %}

{% block content %}
<div class="dashboard container-fluid page-adh">
    <div class="col-12">
        <h1 class="dashboard-section-title text-center mb-4">Ajouter un dojo</h1>
        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="row g-3 align-items-end justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <label class="form-label">Nom du dojo</label>
                    {{ form.nom(class="form-control", placeholder="Nom") }}
                </div>

                <div class="col-12 col-md-6 col-lg-2">
                    {{ form.submit(class="btn btn-primary w-100") }}
                </div>
            </div>
        </form>

    </div>
</div>
{% endblock %}

