{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<div class="dashboard container-fluid page-adh">
<div class="col-12">


<div style="border-bottom: black 1px solid; margin-bottom: 50px;">
<div class="flx-ttl">
<div class="text-left">
<h1>Gestion des adhérents</h1>
</div>
<div>
#{{ adherent.id }}
</div>
</div>
</div>

<div class="row g-3 mb-4">

<div class="col-12 col-md-4">
<div><strong>Nom :</strong> {{ adherent.nom }}</div>
<div><strong>Catégorie d'âge :</strong> {{ adherent.categorie_age }}</div>
<div><strong>Tel :</strong> {{ adherent.telephone }}</div>
<div><strong>Dojo :</strong> {{ adherent.Dojo.nom }}</div>
</div>

<div class="col-12 col-md-4">
<div><strong>Prénom :</strong> {{ adherent.prenom }}</div>
<div><strong>Email :</strong> {{ adherent.email }}</div>

<div>
<strong>Cours :</strong>
{% if adherent.Cours %}
{% for cours in adherent.Cours %}
<a href="{{ url_for('cours.modifier_cours', cours_id=cours.id) }}">
{{ cours.jour }} {{ cours.heure[:5] }}
</a>{% if not loop.last %} / {% endif %}
{% endfor %}
{% else %}
Aucun cours
{% endif %}
</div>
</div>

<div class="col-12 col-md-4 text-center">
{% if adherent.qrcode %}
<img src="data:image/png;base64,{{ adherent.qrcode }}"
class="qr-img"
alt="QR Code de {{ adherent.nom }}">
{% endif %}
</div>

</div>

{% if appels %}
          <table class="table-adh table-bordered table-hover mt-5">
            <thead>
                <tr>
                    {% set col_labels2 = {
                        'status': 'Status',
                        'date': 'Date',
                        'semaine': 'Semaine',
                        'type': 'Type',
                        'Adherent': "Adhérent",
                        'Cour': "Cours",
                    } %}

                        {% for col in [ 'date','semaine','type','status','Cour'] %}
                        <th>
                            <a href="?search_appels={{ search_appels }}&sort_appels={{ col }}&direction_appels={{ 'asc' if direction_appels == 'desc' else 'desc' }}">
                                {{ col_labels2[col] |capitalize }}
                            </a>
                        </th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for u in appels %}
                    <tr>

                        <td>{{ u.date[8:10] }}/{{ u.date[5:7] }}/{{ u.date[0:4] }} </td>
                        <td>{{ u.titre_semaine }} </td>
                        <td>{{ u.type }} </td>
                        <td>
                            <a href="{{ url_for('appels.modifier_status_appel', appel_id=u.id,cours_id=u.coursId,adherent_id=u.adherentId,liste_des_appels_par_cours=false,date=2) }}" class="btn">
                                {% if u.status %}
                                  ✅
                                {% else %}
                                  ⛔
                                {% endif %}
                            </a>
                        </td>

                        <td>{{ u.Cour.jour }} {{ u.Cour.heure[:5] }}</td>


                        <td>
                           <a href="{{ url_for('appels.supprimer_appel', appel_id=u.id,cours_id=u.coursId,adherent_id=u.adherentId,liste_des_appels_par_cours=false) }}" class="btn btn-link truc_de_dev">Supprimer</a>
                            <a href="{{ url_for('adherents.liste_des_appels_par_cours_et_date', cours_id=u.coursId,date=u.date) }}" class="btn btn-link">Modifier</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
          </table>


            <nav>
              <ul class="pagination">
                {% for p in range(1, pagination_appels.pages_appels + 1) %}
                  <li class="page-item {% if p == pagination_appels.page %}active{% endif %}">
                    <a class="page-link" href="?page_appels={{ p }}&search_appels={{ search_appels }}&sort_appels={{ sort_appels }}&direction_appels={{ direction_appels }}">{{ p }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>

    {% endif %}


</div>
</div>

{% endblock %}
