{% extends "base.html" %}

{% block title %}Modifier un dojo{% endblock %}

{% block content %}
 <div class="row container">
     <div class="col-12">
        <h1 class="center">Modifier un dojo</h1>
         <div class="col-6" style="margin: auto;">
            {% from 'bootstrap5/form.html' import render_form %}

            <form method="POST">
              {{ form2.hidden_tag() }}

              <div style="display: flex; gap: 10px;">
                {% for field in form2 if field.name != 'submit' and field.type != 'HiddenField' %}
                  {{ field(class="form-control", placeholder=field.label.text) }}
                {% endfor %}

                {{ form2.submit(class="btn btn-primary") }}
              </div>
            </form>

         </div>
        </div>
</div>

{% endblock %}

