{% extends "base.html" %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block content %}
 <div class="row container">
     <div class="col-12">
        <h1 class="center">Modifier un utilisateur</h1>

        <form method="POST">
          {{ form2.hidden_tag() }}

          <div class="grid-col">
            {% for field in form2 if field.name != 'submit' and field.type != 'HiddenField' %}
              {{ field(class="form-control", placeholder=field.label.text) }}
            {% endfor %}

            {{ form2.submit(class="btn btn-primary") }}
          </div>
        </form>

     </div>
</div>

{% endblock %}

